#container{
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
table{
    border-collapse: collapse;
    margin: 0 auto;
}
tr,td{
    width: 80px; 
    height: 50px;
    text-align: center;
}
td{
    border: 1px solid #ccc;
}
